@media screen and (max-width: 700px) {
    .section__news-prepodavateli{
        flex-direction: column;
    }
   .section_propadavateli-phpto{
       display: flex;
       justify-content: center;
   }
    .section_propadavateli{
        align-items: center;
    }
    .nav__item {
        display: none;
    }
  
    .nav__items-link {
        display: block;
        line-height: 45px;
        padding: 0 10px 0 10px;
        border-right: 0px solid rgba(255, 255, 255, .075);
    }
    .post1 img {
        max-width: 250px;
    }
    .section_propadavateli-img{
        width: 550px;
    }

}
@media screen and (max-width: 725px){
    .map{
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 725px){
    .map{
        width: 80%;
        margin: 0 auto;
    }
    .hamburger-menu{
        max-width: 250px;
    }
    .menu__box-links{
        max-width: 250px;

    }
    .menu__box{
        max-width: 250px;
    }
}






@media screen and (min-width: 700px) {
    .menu__box,  .menu__btn, .burger,  .nav__menu-link {
        display: none;
    }
    .nav__items {
        margin-left: 5px;
        flex-direction: row;
    }
}










    @media screen and (max-width: 896px) {
        .nav__item {
            margin: 0;
            padding: 10px;
            font-size: 12px;
        }
        .nav__item a {
            font-size: 15px;
        }
    }




    @media screen and (max-width: 535px){
        .map{
            overflow: hidden;
            width: 200px;
        }
    }
    @media screen and (max-width: 799px) {
        .nav__item a {
            font-size: 14px;
            padding: 0;
            margin: 0;
        }
        .map{
            overflow: hidden;
            width: 500px;
        }
    }









    @media screen and (max-width: 722px) {
        .section_propadavateli-text{
            width: 90%;
            margin: 0;
        }
        .post1{
            width: 100%;
        }
        .section_propadavateli-post img{
            width: 100%;
            margin: 20px 0 20px 0;
        }
        .section_propadavateli-post{
            width: 100%;
            margin: 0;
        }
        .footer__content-item {
            display: flex;
            justify-content: center;
        }
        .footer__content {
            grid-template-columns: repeat(2, auto);
        }
    }







    
    @media screen and (max-width: 516px) {
        .Header__title-text {
            padding: 11px 10px 11px 8px;
            border-radius: 15px;
        }
        .header__title {
            right: 0;
            left: 0;
            margin: 0 5px 5px 5px;
        }
        .logo {
            display: flex;
            justify-content: center;
        }
        .logo a img {
            width: 90px;
            height: 90px;
        }
        .header__container {
            flex-direction: column;
        }
    }
    